:root {
    --dark-light-color: #1A1A1A;
    --gray-color: #8C8D8B;
    --bluish-gray-color: #393D47;
    --dark-gray: #212121;
    --form-bg-color: #19191F;
}

body {
    color: white;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

.form-bg-color {
    background-color: var(--form-bg-color);
}

.txt-gray {
    color: var(--gray-color);
}

.txt-dark-gray {
    color: var(--dark-gray);
}


.custom-input {
    background-color: black;
    border-color: var(--bluish-gray-color);
    color: var(--gray-color);
}

.custom-input:focus {
    background-color: var(--bluish-gray-color);
    border-color: var(--gray-color);
    color: var(--gray-color);
}

.btn-custom {
    background-color: var(--dark-gray);
    border: none;
}

.btn-custom:hover {
    background-color: var(--bluish-gray-color);
}